<div class="container-fluid my-5">
    <h3 class="text-center text-muted">What your expect us.</h3>
  <p class="text-center text-muted mt-4">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus a laboriosam, fugiat accusantium vel error incidunt omnis necessitatibus dolore repellat veritatis, quasi commodi! Doloremque fuga quibusdam corrupti itaque aperiam similique adipisci sint dolorem eligendi ipsam provident impedit, reprehenderit id, quod architecto voluptatem facilis cum amet non accusamus sit in nobis quae repudiandae, fugit. Quibusdam, sunt.</p>
    <div class="d-flex justify-content-center">
      <a href="/blogs" class="mx-2 btn btn-primary">Read Articles</a>
      <a href="/new" class="mx-2 btn btn-outline-primary">Create Articles</a>
    </div>
</div>