<div class="d-flex justify-content-center">
  <div class="form-outline input-group input-group-lg">
    <input type="search" id="form1" class="form-control" placeholder="Search" />
  </div>
  <button type="button" class="mx-1 btn btn-primary">Search</button>
</div>