{{>nav}}
<div class="container-fluid my-3">
  <h1 class="text-center text-primary">Create Edit Articles</h1>
  <form action="/blog/{{blogs._id}}?_method=PUT" method="POST">
    {{>_form}}
  </form>
</div>